*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #ffffff;
    background-color: #040404;
}

.container {
    margin: 0 auto;
    width: 94%;
    max-width: 1365px;
    padding: 0px 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}
h1 span {
    color: #ed2939;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}
h4 strong {
    font-weight: bold;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 10px;
}

.section-title {
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}

.button {
    display: inline-block;
    padding: 0.9em 1.4em;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
        box-shadow 0.3s ease;
    background-color: #ed2939;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background-color: green;
}

.button-login {
    background-color: #303030;
    padding-left: 30px;
    padding-right: 30px;
}
.button-login:hover {
    background-color: #555;
}

.button-register {
    background-color: #ed2939;
    padding-left: 30px;
    padding-right: 30px;
}

.button-register:hover {
    background-color: #c41a27;
    color: #e7e4df;
}

.button-cta-light {
    background-color: #ffffff;
    color: #040404;
}
.button-cta-light:hover {
    background-color: #ebebeb;
}
.button-cta-primary {
    background-color: #ed2939;
    color: #ffffff;
}
.button-cta-primary:hover {
    background-color: #c41a27;
    color: #c2c2c2;
}

.age-restriction-top-bar{
    background: #D7D7D7;
    text-align: center;
    padding: 8px 0px 0px 0px;
}

.age-restriction-top-bar > p{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.site-header {
    background-color: #040404;
    position: relative;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    width: 93px;
    height: auto;
}

.auth-buttons {
    display: flex;
    gap: 20px;
}

.hero-alt {
    position: relative;
    min-height: 630px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 80px;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.hero-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        270deg,
        rgba(237, 40, 57, 0.49) 0%,
        rgb(0, 0, 0) 100%
    );
    z-index: 0;
}

.hero-content-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 30px;
    width: 94%;
    max-width: 1365px;
    position: relative;
    z-index: 1;
}

.hero-content-alt h1 {
    color: rgb(255 255 255);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
    margin: 0px;
}

.hero-content-alt p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
}
p.timer-title {
    width: auto;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.countdown-timer {
    background-color: #ffffff26;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
    line-height: 1.5;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.timer-title {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.timer-segments {
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

.timer-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
}

.timer-value {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #040404;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.timer-label {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.intro-section {
    padding: 20px;
}

.intro-content-alt {
    display: flex;
    align-items: center;
    gap: 40px;
    background: linear-gradient(
        108deg,
        rgba(27, 27, 29, 0.81) 8.34%,
        #1c1d1f 185.69%
    );
    border-radius: 30px;
    overflow: hidden;
    padding: 0;
}

.intro-image {
    flex: 0 0 33.33%;
    align-self: stretch;
}
.intro-image img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}

.intro-text {
    flex: 1;
    padding: 40px;
}
.intro-text h2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}
.intro-text p {
    color: rgba(255, 255, 255, 0.6);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

section.intro-section.intro-alt {
    padding: 80px 0px 0px 0px;
}

.why-choose-section {
    padding: 80px 0px;
}

.why-choose-grid {
    display: flex;
    gap: 20px;
}

.feature-card {
    flex: 1;
    background-color: #ffffff1c;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.feature-icon-wrapper {
    flex: 0 0 60px;
    height: 60px;
    background-color: #ed2939;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-icon-wrapper img {
    height: 60%;
    width: auto;
}

.feature-text {
    flex: 1;
    color: rgba(255, 255, 255, 0.8);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.feature-text h5 {
    margin-bottom: 0.25em;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.feature-text p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.8);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.lotto-info-alt {
    background: linear-gradient(122deg, #0f0c0d 10.15%, #000 184.73%);
    padding: 80px 0px;
}

.lotto-info-grid-alt {
    display: flex;
    gap: 20px;
}

.lotto-info-card {
    flex: 1;
    border: 1px solid #bababa;
    background-color: #040404;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.lotto-info-card .info-title {
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}
.lotto-info-card .info-date, .lotto-info-card .info-description {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 0px 25px 0px;
    height: 95px;
}

.lotto-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.lotto-numbers span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ed2939;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

.join-title-h4 {
    color: #fff;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}

h5.join-title-h5 {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

.result-numbers-alt span.supp-number,
.hot-numbers-display-alt span.supp-number {
    border: 2px solid #ed2939;
    background-color: transparent;
    color: #ffffff;
}

.cta-banner-alt {
    background: linear-gradient(122deg, #0f0c0d 10.15%, #000 184.73%);
    padding: 20px 0px 80px 25px;
}

.cta-banner-alt-content {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #bababa;
    border-radius: 30px;
    overflow: hidden;
    background: url("./AU Site 1_files/image-30.png") no-repeat center center;
    background-size: cover;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
}

.cta-banner-alt-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        289deg,
        rgba(138, 19, 29, 0) 0%,
        rgb(0, 0, 0) 33%
    );
    z-index: 1;
}

.cta-image-col,
.cta-jackpot-col {
    position: relative;
    z-index: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cta-text-col {
    position: relative;
    z-index: 2;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-image-col {
    flex: 0 0 30%;
    padding: 0;
}
.cta-image-col img {
    max-width: 100%;
    height: auto;
}

.cta-text-col {
    flex: 1;
    gap: 20px;
}
.cta-text-col h4,
.cta-text-col h5 {
    margin-bottom: 0;
}
.cta-text-col p {
    color: rgba(255, 255, 255, 0.6);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.cta-buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.cta-jackpot-col {
    flex: 0 0 26%;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.cta-jackpot-col h2 {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 84px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 0px 0px 0px;
}
.cta-jackpot-col p {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.cta-lotto-numbers span {
    background-color: #ffffff;
    color: #040404;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.reviews-section-alt {
    padding: 80px 0px;
}

.reviews-grid-alt {
    display: flex;
    gap: 20px;
}

.review-card-alt {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 18px;
    background: #1b1b1d;
}

.review-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.review-icon {
    flex: 0 0 60px;
    height: 60px;
    background-color: #ed2939;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-icon img {
    width: 100%;
    height: auto;
}

.review-rating {
    text-align: right;
}
.review-rating h5 {
    margin-bottom: 5px;
}
.review-rating figure img {
    height: 20px;
    width: auto;
    display: inline-block;
}

.review-body h5 {
    margin-top: 10px;
    margin-bottom: 0.5em;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.review-body p {
    color: rgba(255, 255, 255, 0.6);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 65px;
}

.faq-section-alt {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 15px;
}

.faq-section-alt .container {
    border-radius: 30px;
    padding: 30px;
    border: 1px solid #bababa;
}

.faq-list-alt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item-alt {
    border-bottom: 1px solid #bababa;
    padding-bottom: 20px;
}
.faq-item-alt:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.faq-item-alt summary {
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
    position: relative;
    padding-right: 1.5em;
    color: #ffffff;
}

.faq-item-alt summary::-webkit-details-marker {
    display: none;
}

.faq-item-alt summary::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: bold;
    color: #ed2939;
}

.faq-item-alt[open] summary::after {
    content: "−";
}

.faq-item-alt p {
    padding: 20px 0px;
    margin-bottom: 0;
    color: #bababa;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.responsible-gaming {
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    overflow: hidden;
    margin-top: 40px;
}

.responsible-gaming-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.responsible-gaming-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.responsible-gaming-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282728;
    opacity: 0.8;
    z-index: -1;
}

.responsible-gaming-content {
    position: relative;
    z-index: 1;
    max-width: 1660px;
    width: 100%;
}

.responsible-gaming-text-box {
    padding: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(40px);
}
.responsible-gaming-text-box h2 {
    margin-bottom: 20px;
}
.responsible-gaming-text-box p {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

.site-footer-alt {
    background-color: #040404;
    color: #ffffff;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.payment-methods {
    padding: 0px 0px 40px 0px;
}

.payment-methods > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.payment-methods > ul > li > a > img{
    max-width: 160px;
    height: 60px;
}

.payment-methods figure img {
    height: 50px;
    width: auto;
    border-radius: 5px;
}

.responsible-gaming-footer p:first-of-type {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 0px 0px 20px 0px;
}
.useful-link {
    padding: 30px 0px 50px 0px;
    border-bottom: 1px solid #353535;
}
.useful-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    list-style: none;
}

.useful-link ul li a {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
}
.copyright p {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    padding-top: 40px;
}

.form-bg{
    background-image: url('../images/register-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 450px;
    text-align: center;
    margin: 0px auto;
}
.form-title {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 15px 0px;
}
input {
    width: calc(100% - 20px);
    padding: 17px 18px;
    margin: 10px 0;
    border: 0px;
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.04);
}
input#terms {
    width: 30px;
}
small {
    display: block;
    font-size: 11px;
    color: #e03131;
    margin-bottom: 12px;
    padding: 0px 12px;
    text-align: left;
    line-height: 13px;
}
.checkbox {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    margin: 10px 0 20px 0px;
    text-align: left;
    padding: 0px 17px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.checkbox input {
    margin-right: 8px;
    position: relative;
    top: 2px;
}
.form-container button {
    width: calc(100% - 20px);
    padding: 16px;
    border-radius: 8px;
    background: #dd1f2e;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    transition: background 0.3s;
}
.form-container button:disabled {
    background: #ED2939;
    cursor: not-allowed;
}
.form-container button:hover:not(:disabled) {
    background: #c50717;
}
.login-link {
    margin: 30px 0px 15px 0px;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; 
}
.login-link a {
    color: #ED2939;
    text-decoration: underline;
    font-weight: 500;
}
.login-link a:hover {
    color: #ED2939;
}

.login-link {
    margin: 30px 0px 15px 0px;
}

.form-container button#resetBtn{
    margin: 10px 0px 15px 0px !important;
}

.form-container button#backToLogin{
    background: transparent !important;
    color: #ED2939;
    margin: 0px !important;
    padding: 0px !important;
    text-decoration: underline;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.hidden{
    display: none;
}

button#loginBtn {
    margin: 10px 0px 15px 0px;
}

.forget-p{
    color: #ED2939;
    text-align: right;
    width: calc(100% - 20px);
    text-decoration: underline;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 0px 20px 0px;
}

div#forgotPasswordForm {
    padding: 50px 20px;
}

.password-flex {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    border-radius: 6px;
    background-color: #f5f5f5;
}
  
.password-flex input[type="password"], .password-flex input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    background: transparent;
    margin: 0px;
}
  
.password-flex img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    left: -14px;
}
.subpage-background{
    background: #0F0C0D;
    padding: 80px 0px;
}
h2.subpage-title-h2{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    margin: 0px;
}
.subpage-texts{ 
    padding-top: 50px;
}
.subpage-texts > h3{
    color: rgba(255, 255, 255, 0.89);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0px;
}
.subpage-texts > p{
    color: rgba(255, 255, 255, 0.80);
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding: 0px 0px 35px 0px;
}
.subpage-texts > ul{
    padding-left: 60px;
    padding-bottom: 40px;
}
.subpage-texts > ul > li{
    color: rgba(255, 255, 255, 0.80);
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
}
.subpage-texts > ul > li > a{
    color: #f32a3b;
    text-decoration: underline;
}

.subpage-texts > p > a{
    text-decoration: underline;
    color: #f32a3b;
}  
